.containerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5x;
    border: 1px solid #ccc;
}
.containerBorder {
    border-radius: 10px;
}
.containerColumn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5x;
    border: 1px solid #ccc;
}
.containerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5x;
    border: 1px solid #ccc;
    background-color: #ACACAC;
}
.containerWithoutBorder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}

.containerLeft {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 30px;             
    border: 1px solid #ccc;
}
.containerBackChangeable{
    background-color: #e2e0e0;
}
.containerChangeable{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
}
.containerTextBox{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.containerCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.textBox {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    background-color: #79BAC1;
    margin-bottom: 10px; 
    margin-top: 10px;
    padding: 5px 20px;        
}
.containerCenter input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
.left,
.right {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.leftModal,
.rightModal {
    display: flex;
    align-items: center;
    margin: 5px;
}
.left h2 {
    margin-left: 10px;
}
.center button{
    margin-right: 10px;
}
.center h2 {
    margin: 10px;
}
.marginImg{
    margin-left: 5px;
    margin-right: 5px;
}
.containerTextBox input{
    border: none;
}
.containerWithoutBorder div{
    margin-right: 5px;
}
h1, h2, h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textBox:focus {
    border-color: #0e1011; 
}
.opacity {
    opacity: 0.6; 
}
#modalCreate::backdrop{
    background-color: rgba(0, 0, 0, .55);
}




.containerWithoutBorder input{
    margin-right: 5px;
}
.containerCenter label{
    font-family: Arial, sans-serif;
    font-size: 16px;
}