<!DOCTYPE html>
<html lang="es">
<head>
    <script>
        if (top !== window) {
            top.location.href = window.location.href;
        }
        if (window.location.hash) {
            window.location.href = window.location.href.replace(window.location.hash, '');
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prueba BD</title>
    <link rel="stylesheet" href="..\static\css\main.css">
</head>
<body>
    <div class="container" >
        <div class="left">
            <img class="app-icon" src="..\img\logo.png" height="45">
            <h2>eventiia</h2>
        </div>
        <div class="center">
            <h2>Inicio</h2>
            <h2>Eventos</h2>
        </div>
        <div class="right">
            <img class="app-icon" src="..\img\user.png" height="25">
        </div>
    </div>
    <div class="container">
        <div class="containerleft">
            <h3 class="centercc">DD/MM/AAAA</h3>
            <input type="text" id="texto" name="texto" class="centercc">
            <div class="left">
                <img class="app-icon" src="..\img\user.png" height="25">
                <h4>&nbsp;&nbsp;Tus eventos</h4>
            </div>
            <div class="left">
                <img class="app-icon" src="..\img\not.png" height="25">
                <h4>&nbsp;&nbsp;Notificaciones</h4>
            </div>
            <div class="left" >
                <img class="app-icon" src="..\img\redes.png" height="25">
                <h4>&nbsp;&nbsp;Redes sociales</h4>
            </div>
            <div class="centercc">
                <button style="font-family: sans-serif;" name="btnCrear" class="btnCrear">Crear Evento</button>
            </div>
            <div>
                <h3>Categoria</h3>
            </div>
                <div class="left" >
                    <img class="app-icon" src="..\img\arte.png" height="25">
                    <h4>&nbsp;&nbsp;Arte</h4>
                </div>
                <div class="left" >
                    <img class="app-icon" src="..\img\comida.png" height="25">
                    <h4>&nbsp;&nbsp;Comidas</h4>
                </div>
                <div class="left" >
                    <img class="app-icon" src="..\img\juego.png" height="25">
                    <h4>&nbsp;&nbsp;Videojuegos</h4>
                </div>
                <div class="left" >
                    <img class="app-icon" src="..\img\beb.png" height="25">
                    <h4>&nbsp;&nbsp;Bebidas</h4>
                </div>
                <div class="left" >
                    <img class="app-icon" src="..\img\depor.png" height="25">
                    <h4>&nbsp;&nbsp;Deportes</h4>
                </div>
        </div>
        <div class="conteinerback">
            
        </div>
    </div>
</body>
</html>